<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
    <script type="text/javascript" src="webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>Edit Ingredient</title>
</head>
<body>
<!--/*--><!--@thymesVar id="ingredient" type="com.bogovich.recipe.models.Ingredient"--><!--*/-->
<!--/*--><!--@thymesVar id="uomList" type="java.util.List<com.bogovich.recipe.models.UnitOfMeasure>"--><!--*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.recipe.id} + '/ingredient'} ">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Amount:</label>
                                    <input type="number" class="form-control" th:field="*{amount}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>UOM:</label>
                                    <select class="form-control" name="uom.id">
                                        <option th:each="uom : ${uomList}"
                                                th:value="${uom.id}"
                                                th:selected="${uom.id.equals(ingredient.uom.id)}"
                                                th:text="${uom.description}">Each
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
